.selectedPage{
    font-weight: bold;
    color: #8764da;
}
.pagination{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-height: 50px;
    overflow: auto;
}
.pagination li{
    margin: 10px;
    cursor: pointer;
}
.pagination li span{
    font-size: 16px;
}
.pageNumber{
    color: green;
}