.user{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid #8764da;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 0px;
}
.photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.selectedPage{
    font-weight: bold;
    color: #8764da;
}
.pagination{
    display: flex;
    list-style: none;
}
.pagination li{
    margin: 10px;
    cursor: pointer;
}
.pagination li span{
    font-size: 16px;
}